@font-face {
    font-family: OrmontLight;
    src: url(Ormont_Light.ttf);
}
@font-face {
    font-family: Rocko;
    src: url(RockoFLF.ttf);
}

html {
	height:100%;
}

body {
	height:100%;
	background-color:#aaa;
	overflow:hidden;
	
	font-family:Rocko,Helvetica,sans-serif;
}

#sidebar.closingClass{
    width: 0%;
    transition: width 1s;
}

#sidebar.openingClass{
    width: 25%;
    transition: width 1s;
}

#earth_div {
}

#sidebar {
	padding:20px;
	background-color:#888;
	
	box-shadow: -20px 0px 0px 10px rgba(0,0,0,.3);
	
	z-index:99;
	
	position:relative;
	height:100%;
	float:right;
	width:0%;
}

#shadow {
	background-color:rgba(0,200,230,.3);
	width:700px;
	height:700px;
	position:absolute;
	left:200px;
	top:70px;
	
	z-index:-2;
	
	border-radius:350px;
}

#X {
	/*background-color:white;*/
	color: #fff;
	font-weight: 300;
	font-family: Arial, sans-serif;
	cursor: pointer;
	width:15px;
	height:15px;
}

.openingClass #open_button {
	opacity:0;
}

#open_button {
	transition:opacity 1s;
	opacity:1;
	
	position:absolute;
	top:47%;
	left:-40px;
	width:30px;
	height:60px;
	border-radius: 30px 0px 0px 30px;
	padding-top:28px;
	padding-left:15px;
	
	background-color:#888;
	color: #fff;
	font-weight: 300;
	font-family: Arial, sans-serif;
	cursor: pointer;
	font-size:24px;
}

.tweet_sidebar {
	border-bottom: 1px solid #999;
	padding-top:7px;
	padding-bottom:7px;
}

#side_content {
	background-color:#aaa;
	margin:10px;
	color:white;
	padding:7px;
	height:90%;
	overflow:auto;
}

#title {
	font-family:OrmontLight,Helvetica,sans-serif;
	z-index:-1;
	position:absolute;
	left:40px;
	top:30px;
	font-size:120px;
}
