<!DOCTYPE HTML>
<html>
  <head>
    <!-- <script src="http://www.webglearth.com/v2/api.js"></script> -->
    <script src="http://127.0.0.1:8000/static/lib/WebGLEarth/api-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
	  var earth;
	  var polygonC;
	  var clusters = [];
	    
	  var CLUSTER_DURATION = 15000;
	  var CLUSTER_POPUP_DURATION = 5000;
	  var CLUSTER_RADIUS = 1;		//should be zoom-dependent
	  
	  var BLIP_DURATION = 2000;
	  var BLIP_RADIUS = 3;
	  var BLIP_MAX_SCALE = 2;
	  
	  var QUERY_FREQUENCY = 3000;
	  
	  var lastQuery = $.now();
	  
	  var prevZoom = 1;
    
      function initialize() {
      	initWebGLEarth();
      	
        setInterval(updateVis, 33);
        
        clusters.push(createCluster({latitude:45,longitude:-90,text:"ahaha"},"#ahaha"));
      }
  
      function initWebGLEarth() {
      	earth = new WE.map('earth_div');

        
        var toner = WE.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {
          attribution: 'Map tiles by Stamen Design, under CC BY 3.0. Data by OpenStreetMap, under CC BY SA.',
          // opacity: 0.6
        });
        toner.addTo(earth);
        
        var bg = WE.tileLayer('http://127.0.0.1:8000/static/MapTiler3/{z}/{x}/{y}.png', {
          attribution: 'Map tiles by ME!',
        });
        bg.addTo(earth);
      }
            
      
      function updateVis() {
      	cur_time = Date.now();
      	
      	for (var i = 0;i < clusters.length; i++) {
      		cluster = clusters[i];
      		updateCluster(cluster, cur_time);
      	}
      	
      	
      	if(cur_time-lastQuery > QUERY_FREQUENCY) {
      		requestTweets();
      		lastQuery = cur_time;
     	}
      }
      
      function requestTweets() { //
      	$.ajax({url:"tweetpipeline/?old_time="+lastQuery+"&max_latitude=90&max_longitude=180&min_latitude=-90&min_longitude=-180",
      	     success:function(result){
             console.log(result);
             handleTweets(eval(result));//[{'text':"This is a fake popup!",'longitude':0,'latitude':0, 'hashtags':['love']}]);
             }});
      }
      
      function reCluster() {
      	// Reevaluate clusters on zoom
      }
      
      function handleTweets(tweetList) {
      	if(tweetList.length>0) {
	      	for(var i = 0;i<tweetList.length;i++) {
	      		var foundCluster = false;
	      		for(var j = 0;j<clusters.length;j++) {
	      			if(dist(clusters[j].latlng,[tweetList[i].latitude,tweetList[i].longitude])<CLUSTER_RADIUS) {
	      				addToCluster(clusters[j],tweetList[i]);
	      				foundCluster = true;
	      			}
	      		}
	      		
	      		if(!foundCluster) {
	      			clusters.push(createCluster(tweetList[i],tweetList[i].hashtags[0]));
	      		}
	      	}
      	}
      }
      
      function addToCluster(cluster,tweet) {
      	cluster.tweets.push(tweet);
      	
      	cluster.blips.push(createBlip(cluster));
        popup = "<div class=popup_text><a href='#' onclick='load_sidebar("+cluster.id+")'>"+tweet.text+"</a></div>";
      	cluster.marker.bindPopup(popup, {maxWidth: 120, closeButton: true}).openPopup();
      	
      	cluster.time = Date.now();
      }
      
      function createBlip(cluster) {
      	var options = {color: '#000', opacity: 1, fillColor: '#a0f', fillOpacity: 0.5, weight: -1};
      	
      	var pts = circle(cluster.latlng, 20, BLIP_RADIUS);
      	
      	var pt_ids = [];
      	
		polygonC = new WebGLEarth.Polygon(earth);
		polygonC.setFillColor("#a0f",0.5);
		polygonC.setStrokeColor("#000",0);

		for(var i = 0; i < pts.length; i++) {
			pt_ids.push(polygonC.addPoint(pts[i][0],pts[i][1]));
		}
		
		polygonC.showDraggers(false);
		
		return {
      			polygon: polygonC,
				time: Date.now(),
				pt_ids: pt_ids,
      	};
      }
    
    var current_cluster_id = 0;
    function cluster_next(){
        c = current_cluster_id;
        current_cluster_id++;
        return c;
    }
    
      function createCluster(tweet,hashtag) {
      	latlng = [tweet.latitude,tweet.longitude];
        next = cluster_next();
		
        var marker = WE.marker([latlng[0],latlng[1]]).addTo(earth);
        popup = "<div class=popup_text><a href='#' onclick='load_sidebar("+next+")'>"+tweet.text+"</a></div>";
        marker.bindPopup(popup, {maxWidth: 120, closeButton: true}).openPopup();
		
		cluster = {
            id: next,
			latlng: latlng,
			time: Date.now(),
      		marker: marker,
      		tweets: [tweet],
      		hashtag: hashtag,
      		blips:[],
		};
		
		cluster.blips.push(createBlip(cluster));
		
		return cluster;
      }
      
      function updateCluster(cluster, time) {
      	if(time-cluster.time >= CLUSTER_DURATION + CLUSTER_POPUP_DURATION) {
          	cluster.marker.detach();
      		clusters.splice(clusters.indexOf(cluster),1);
      		
      		console.log("BYE!");
      		
      		return;
      	}
      	if(time-cluster.time >= CLUSTER_POPUP_DURATION) {
      		cluster.marker.closePopup();
      		
      		// console.log("popup closed");
      	}
      	
      	for(var i = 0;i<cluster.blips.length;i++) {
      		updateBlip(cluster,cluster.blips[i],time);
      	}
      }
      
      function updateBlip(cluster,blip, time) {
      	if(time-blip.time >= BLIP_DURATION) {
      		blip.polygon.destroy();
      		cluster.blips.splice(cluster.blips.indexOf(blip),1);
      		
      		return;
      	}
      	
      	blip.polygon.setFillColor("#a0f", .5-(time-cluster.time)*.5/BLIP_DURATION);
      	
      	new_pts = circle(cluster.latlng, 20, BLIP_RADIUS*(1 + (BLIP_MAX_SCALE - 1) * (time - blip.time)/BLIP_DURATION));
      	
      	for (var i = 0; i < blip.pt_ids.length; i++) {
      		blip.polygon.movePoint(blip.pt_ids[i], new_pts[i][0], new_pts[i][1]);
      	}
      }
      
      
      //HELPER FUNCTIONS
      
      function circle(latlng, sides, rad) {		//adjusts for longitude lines converging
      	var pts = [];
      	
      	for(var i = 0; i < sides; i++) {
      		pts.push([Math.cos(i*(2*Math.PI / sides))*rad + latlng[0],Math.sin(i*(2*Math.PI / sides))*rad/Math.cos((Math.cos(i*(2*Math.PI / sides))*rad + latlng[0]) / 180 * Math.PI) + latlng[1]]);

      	}
      	
      	return pts;
      }
      
      function dist(latlng1_deg, latlng2_deg) {		//great circle distance, using haversine formula
      	var latlng1 = [latlng1_deg[0]*Math.PI/180,latlng1_deg[1]*Math.PI/180];
      	var latlng2 = [latlng2_deg[0]*Math.PI/180,latlng2_deg[1]*Math.PI/180];
      	
      	sindlat = Math.sin(latlng1[0]-latlng2[0]);
      	sindlng = Math.sin(latlng1[1]-latlng2[1]);
      	
      	return 2 * Math.asin(Math.sqrt(sindlat*sindlat + Math.cos(latlng1[0])*Math.cos(latlng2[0])*sindlng*sindlng));
      }
    
      function load_sidebar(tweet_cluster_id){
          the_tweets = null;
          for(var i=0;i<clusters.length;i++){
              if(clusters[i].id == tweet_cluster_id){
                  the_tweets = clusters[i].tweets;
                  break;
              }
          }
          if(the_tweets){
              $("#side_content").empty();
              for(var i=0; i<the_tweets.length; i++){
                  $("#side_content").append("<div class='tweet_sidebar'>"+the_tweets[i].text+"</div>");
              }
              $("#sidebar").attr('class','openingClass');
          }
      }
    
      function close_sidebar(){
          $("#sidebar").attr('class','closingClass');
      }
      
      function openTab(e) {
	    if (!e)
	        e = window.event;
	    var sender = e.srcElement || e.target;
	    
      	$(".tab_content").removeClass("open");
      	console.log($(sender.id.substr(0,sender.id.length-7)));
      	$("#"+sender.id.substr(0,sender.id.length-7)).addClass("open");
      }
    </script>
    <style>
      html, body{padding: 0; margin: 0;}
      #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>
    <link rel="stylesheet" type="text/css" href="static/globePage.css" />
    <title>WebGL Earth API: Maps rendered with MapTiler</title>
  </head>
  <body onload="initialize()">
  	<span id="title">earth.ly</span>
  	<div id="shadow"></div>
    <div id="earth_div"></div>
  	<div id="sidebar">
        <div id="titlebar">
            <div id="X"; onclick="close_sidebar()">x</div>
        </div>
        <div id="tabs_header">
        	<div id="side_content_header" class="tab_header" onclick="openTab();">Tweets</div>
        	<div id="leaderboard_header" class="tab_header" onclick="openTab();">Leaderboard</div>
        	<div id="about_header" class="tab_header" onclick="openTab();">About</div>
        	</div>
        <div id="side_content" class="tab_content open"></div>
        <div id="leaderboard" class="tab_content"></div>
        <div id="about" class="tab_content"></div>
        <div id="open_button" onclick="load_sidebar('')">:</div>
    </div>
  </body>
</html>